@tailwind base;
@tailwind components;
@tailwind utilities;

/* ReactFlow 画布样式 */
.react-flow {
  width: 100% !important;
  height: 100% !important;
}

.react-flow__renderer {
  width: 100% !important;
  height: 100% !important;
}

.react-flow__viewport {
  width: 100%;
  height: 100%;
}
